In [27]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pprint import pprint
from bs4 import BeautifulSoup as bs
import requests

# EXTRACT

In [28]:
youtube_file = "yelp.csv"
youtubecsv_df = pd.read_csv(youtube_file)
youtubecsv_df.head()

,Unnamed: 0,index,rname,fcategory,Rating,lat,long,address,city,phone
0,0,0,Eataly,Italian,3.5,43.669615,-79.388795,55 Bloor Street W,Toronto,+1 437-374-0250
1,1,1,Steam Whistle Brewing,Breweries,4.5,43.641141,-79.385235,255 Bremner Boulevard,Toronto,+1 416-362-2337
2,2,2,Taro's Fish,Seafood Markets,4.5,43.769860,-79.374550,800 Sheppard Avenue E,Toronto,+1 416-730-8555
3,3,3,Northern Maverick Brewing Co,Brewpubs,3.5,43.645094,-79.402967,115 Bathurst Street,Toronto,+1 416-540-4030
4,4,4,Pai Northern Thai Kitchen,Thai,4.5,43.647840,-79.388720,18 Duncan Street,Toronto,+1 416-901-4724

{'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJvJAAShlR6hM"',
 'items': [{'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ"',
            'id': '1',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Film & Animation'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"',
            'id': '2',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Autos & Vehicles'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxbknKFVe5Lmg"',
            'id': '10',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Music'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-oBJavSGkfDI"',
            'id': '15',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Pets & Animals'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM1XVQ9zbGec"',
            'id': '17',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Sports'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/FJwVpGCVZ1yiJrqZbpqe68Sy_OE"',
            'id': '18',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Short Movies'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/M-3iD9dwK7YJCafRf_DkLN8CouA"',
            'id': '19',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Travel & Events'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/WmA0qYEfjWsAoyJFSw2zinhn2wM"',
            'id': '20',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Gaming'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/EapFaGYG7K0StIXVf8aba249tdM"',
            'id': '21',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Videoblogging'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/xId8RX7vRN8rqkbYZbNIytUQDRo"',
            'id': '22',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'People & Blogs'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/G9LHzQmx44rX2S5yaga_Aqtwz8M"',
            'id': '23',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Comedy'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/UVB9oxX2Bvqa_w_y3vXSLVK5E_s"',
            'id': '24',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Entertainment'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/QiLK0ZIrFoORdk_g2l_XR_ECjDc"',
            'id': '25',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'News & Politics'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/r6Ck6Z0_L0rG37VJQR200SGNA_w"',
            'id': '26',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Howto & Style'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/EoYkczo9I3RCf96RveKTOgOPkUM"',
            'id': '27',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Education'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/w5HjcTD82G_XA3xBctS30zS-JpQ"',
            'id': '28',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Science & Technology'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/SalkJoBWq_smSEqiAx_qyri6Wa8"',
            'id': '29',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': True,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Nonprofits & Activism'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/lL7uWDr_071CHxifjYG1tJrp4Uo"',
            'id': '30',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Movies'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/WnuVfjO-PyFLO7NTRQIbrGE62nk"',
            'id': '31',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Anime/Animation'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/ctpH2hGA_UZ3volJT_FTlOg9M00"',
            'id': '32',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Action/Adventure'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/L0kR3-g1BAo5UD1PLVbQ7LkkDtQ"',
            'id': '33',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Classics'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/pUZOAC_s9sfiwar639qr_wAB-aI"',
            'id': '34',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Comedy'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/Xb5JLhtyNRN3AQq021Ds-OV50Jk"',
            'id': '35',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Documentary'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/u8WXzF4HIhtEi805__sqjuA4lEk"',
            'id': '36',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Drama'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/D04PP4Gr7wc4IV_O9G66Z4A8KWQ"',
            'id': '37',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Family'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/i5-_AceGXQCEEMWU0V8CcQm_vLQ"',
            'id': '38',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Foreign'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/rtlxd0zOixA9QHdIZB26-St5qgQ"',
            'id': '39',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Horror'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/N1TrDFLRppxZgBowCJfJCvh0Dpg"',
            'id': '40',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Sci-Fi/Fantasy'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/7UMGi6zRySqXopr_rv4sZq6Za2E"',
            'id': '41',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Thriller'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/RScXhi324h8usyIetreAVb-uKeM"',
            'id': '42',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Shorts'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/0n9MJVCDLpA8q7aiGVrFsuFsd0A"',
            'id': '43',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Shows'}},
           {'etag': '"m2yskBQFythfE4irbTIeOgYYfBU/x5NxSf5fz8hn4loSN4rvhwzD_pY"',
            'id': '44',
            'kind': 'youtube#videoCategory',
            'snippet': {'assignable': False,
                        'channelId': 'UCBR8-60-B28hp2BmDPdntcQ',
                        'title': 'Trailers'}}],
 'kind': 'youtube#videoCategoryListResponse'}

['Film & Animation',
 'Autos & Vehicles',
 'Music',
 'Pets & Animals',
 'Sports',
 'Short Movies',
 'Travel & Events',
 'Gaming',
 'Videoblogging',
 'People & Blogs',
 'Comedy',
 'Entertainment',
 'News & Politics',
 'Howto & Style',
 'Education',
 'Science & Technology',
 'Nonprofits & Activism',
 'Movies',
 'Anime/Animation',
 'Action/Adventure',
 'Classics',
 'Comedy',
 'Documentary',
 'Drama',
 'Family',
 'Foreign',
 'Horror',
 'Sci-Fi/Fantasy',
 'Thriller',
 'Shorts',
 'Shows',
 'Trailers']

# Transform

   cat_id               category
0       1       Film & Animation
1       2       Autos & Vehicles
2      10                  Music
3      15         Pets & Animals
4      17                 Sports
5      18           Short Movies
6      19        Travel & Events
7      20                 Gaming
8      21          Videoblogging
9      22         People & Blogs
10     23                 Comedy
11     24          Entertainment
12     25        News & Politics
13     26          Howto & Style
14     27              Education
15     28   Science & Technology
16     29  Nonprofits & Activism
17     30                 Movies
18     31        Anime/Animation
19     32       Action/Adventure
20     33               Classics
21     34                 Comedy
22     35            Documentary
23     36                  Drama
24     37                 Family
25     38                Foreign
26     39                 Horror
27     40         Sci-Fi/Fantasy
28     41               Thriller
29     42                 Shorts
30     43                  Shows
31     44               Trailers

In [11]:
#merge JSON and CSV
youtubecsv_df = youtubecsv_df.rename(columns = {"category_id": "cat_id"})
youtubecsv_df.dtypes
category_list.dtypes
category_list["cat_id"] = category_list['cat_id'].astype(str).astype(int)
category_list.dtypes

cat_id       int64
category    object
dtype: object

In [12]:
merged_df = pd.merge(youtubecsv_df, category_list, how = "left", on="cat_id")
merged_df.count()

,video_id,trending_date,title,channel_title,cat_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,category
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,People & Blogs
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",Entertainment
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,Comedy
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,Entertainment
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Entertainment

In [31]:
# Create a filtered dataframe from specific columns
#youtubecsv_df.drop(columns='Unnamed: 0')

cols = [col for col in youtubecsv_df.columns if col  in ['index', 'rname','fcategory','Rating','lat','long','address','city','phone']]
youtubecsv_df2 = youtubecsv_df[cols]

youtubecsv_df2.head()

,index,rname,fcategory,Rating,lat,long,address,city,phone
0,0,Eataly,Italian,3.5,43.669615,-79.388795,55 Bloor Street W,Toronto,+1 437-374-0250
1,1,Steam Whistle Brewing,Breweries,4.5,43.641141,-79.385235,255 Bremner Boulevard,Toronto,+1 416-362-2337
2,2,Taro's Fish,Seafood Markets,4.5,43.769860,-79.374550,800 Sheppard Avenue E,Toronto,+1 416-730-8555
3,3,Northern Maverick Brewing Co,Brewpubs,3.5,43.645094,-79.402967,115 Bathurst Street,Toronto,+1 416-540-4030
4,4,Pai Northern Thai Kitchen,Thai,4.5,43.647840,-79.388720,18 Duncan Street,Toronto,+1 416-901-4724

In [41]:
youtubecsv_df4 = youtubecsv_df3.rename(columns={"Rating": "rating"})

In [42]:
youtubecsv_df4.head()

,index,rname,fcategory,rating,lat,long,address,city,phon
0,0,Eataly,Italian,3.5,43.669615,-79.388795,55 Bloor Street W,Toronto,+1 437-374-0250
1,1,Steam Whistle Brewing,Breweries,4.5,43.641141,-79.385235,255 Bremner Boulevard,Toronto,+1 416-362-2337
2,2,Taro's Fish,Seafood Markets,4.5,43.769860,-79.374550,800 Sheppard Avenue E,Toronto,+1 416-730-8555
3,3,Northern Maverick Brewing Co,Brewpubs,3.5,43.645094,-79.402967,115 Bathurst Street,Toronto,+1 416-540-4030
4,4,Pai Northern Thai Kitchen,Thai,4.5,43.647840,-79.388720,18 Duncan Street,Toronto,+1 416-901-4724

# LOAD

In [43]:
from sqlalchemy import create_engine

In [44]:
rds_connection_string = "postgres:Login@2210@localhost:5432/fooddb2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [45]:
engine.table_names()

['yelpdata1']

In [46]:
youtubecsv_df4.to_sql(name='yelpdata1', con=engine , if_exists='append' , index=False)

In [47]:
pd.read_sql_query('select * from yelpdata1' , con=engine).head()

,index,rname,fcategory,rating,lat,long,address,city,phon
0,0,Eataly,Italian,3.5,43.669615,-79.388795,55 Bloor Street W,Toronto,+1 437-374-0250
1,1,Steam Whistle Brewing,Breweries,4.5,43.641141,-79.385235,255 Bremner Boulevard,Toronto,+1 416-362-2337
2,2,Taro's Fish,Seafood Markets,4.5,43.769860,-79.374550,800 Sheppard Avenue E,Toronto,+1 416-730-8555
3,3,Northern Maverick Brewing Co,Brewpubs,3.5,43.645094,-79.402967,115 Bathurst Street,Toronto,+1 416-540-4030
4,4,Pai Northern Thai Kitchen,Thai,4.5,43.647840,-79.388720,18 Duncan Street,Toronto,+1 416-901-4724